{% extends "restaurants/dashboard.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load bootstrap4 %}


{% block title %}
    Accounts
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Edit Profile</h4>
                            <p class="card-category">Complete your profile</p>
                        </div>
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">First Name</label>#}
{#                                    <input class="form-control" type='{{ edit_restaurant_form.phone }}'>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Last Name</label>#}
{#                                    <input class="form-control" type='{{ edit_user_form.last_name }}'>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Email</label>#}
{#                                    <input class="form-control" type='{{ edit_user_form.email }}'>#}
{#                                </div>#}
{#                                <br><br><br>#}
{#                                <h2>Restaurant</h2>#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Name</label>#}
{#                                    <input class="form-control" type='{{ edit_restaurant_form.name }}'>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Phone</label>#}
{#                                    <input class="form-control" type='{{ edit_restaurant_form.phone }}'>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Address</label>#}
{#                                    <input class="form-control" type='{{ edit_restaurant_form.address }}'>#}
{#                                </div>#}
                                <div class="form-group">
                                    {{ edit_user_form|crispy }}
                                    {{ edit_restaurant_form|crispy }}
                                    <button class="btn btn-danger">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}