{% extends "restaurants/dashboard.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load bootstrap4 %}


{% block title %}
    Add Meal
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Add Meal</h4>
                            <p class="card-category">Your dishes goes here</p>
                        </div>
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ meal_form| crispy}}
                                <button class="btn btn-danger">Create Meal</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}