{% extends "restaurants/base.html" %}
{% block title %}
    Restaurant Dashboard
{% endblock %}

{% block logo %}
    <img src="{{ MEDIA_URL }}{{ request.user.restaurant.logo }}" class="rounded mx-auto d-block" height="90" width="90">
{% endblock %}

{% block username %}
    <p class="ml-5">Hi {{ request.user.get_full_name }}</p>
    <br>
    <p class="mx-5 ">{{ request.user.restaurant.name }}</p>
{% endblock %}


{% block sidebar_items %}

    <li class="nav-item ">
        <a class="nav-link" href="{% url 'account' %}">
            <i class="material-icons">person</i>
            <p>Account</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'meal' %}">
            <i class="material-icons">person</i>
            <p>Meal</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'order' %}">
            <i class="material-icons">person</i>
            <p>Order</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'report' %}">
            <i class="material-icons">person</i>
            <p>Report</p>
        </a>
    </li>

{% endblock %}


