{% extends "restaurants/dashboard.html" %}

{% block title %}
    Meal
{% endblock %}

{% block content %}
    <a href="{% url 'add_meal' %}" class="btn btn-danger">Add Meal</a>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Meal List</h4>
                            <p class="card-category"> Here are all your meals</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th >Price</th>
                                    <th class="text-center">Image</th>
                                    </thead>
                                    <tbody>
                                        {% for meal in meals %}
                                            <tr>
                                                <td>{{ meal.id }}</td>
                                                <td>{{ meal.meal }}</td>
                                                <td>{{ meal.description }}</td>
                                                <td>{{ meal.price }}</td>
                                                <td class="text-center"><img src="{{ MEDIA_URL }}{{ meal.image }}" alt="" width="50" height="50"></td>
                                            </tr>                                        
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}